In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
ser = Series(np.arange(3.))

data = DataFrame(np.arange(16).reshape(4,4),index=list('abcd'),columns=list('wxyz'))

data

    w   x   y   z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [6]:
data['w']  #选择表格中的'w'列，使用类字典属性,返回的是Series类型

a     0
b     4
c     8
d    12
Name: w, dtype: int64

In [7]:
data.w  #选择表格中的'w'列，使用点属性,返回的是Series类型

a     0
b     4
c     8
d    12
Name: w, dtype: int64

In [8]:
data[['w']]  #选择表格中的'w'列，返回的是DataFrame类型

    w
a   0
b   4
c   8
d  12

In [9]:
data[['w','z']]  #选择表格中的'w'、'z'列

    w   z
a   0   3
b   4   7
c   8  11
d  12  15

In [10]:
data[0:2]  #返回第1行到第2行的所有行，前闭后开，包括前不包括后

   w  x  y  z
a  0  1  2  3
b  4  5  6  7

In [11]:
data[1:2]  #返回第2行，从0计，返回的是单行，通过有前后值的索引形式，如果采用data[1]则报错

   w  x  y  z
b  4  5  6  7

In [12]:
data.ix[1:2]  #返回第2行的第三种方法，返回的是DataFrame，跟data[1:2]同

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   w  x  y  z
b  4  5  6  7

In [15]:
data.iloc[1:2]  # for positional indexing

   w  x  y  z
b  4  5  6  7

In [18]:
data.loc['a']  # for label based indexing

w    0
x    1
y    2
z    3
Name: a, dtype: int64

In [19]:
data['a':'b']  #利用index值进行切片，返回的是**前闭后闭**的DataFrame，即末端是包含的

   w  x  y  z
a  0  1  2  3
b  4  5  6  7

In [20]:
data.head()  #返回data的前几行数据，默认为前五行，需要前十行则data.head(10)

    w   x   y   z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [21]:
data.tail()  #返回data的后几行数据，默认为后五行，需要后十行则data.tail(10)

    w   x   y   z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [22]:
data.iloc[-1]   #选取DataFrame最后一行，返回的是Series

w    12
x    13
y    14
z    15
Name: d, dtype: int64

In [23]:
data.iloc[-1:]   #选取DataFrame最后一行，返回的是DataFrame

    w   x   y   z
d  12  13  14  15

In [24]:
data.loc['a',['w','x']]   #返回‘a’行'w'、'x'列，这种用于选取行索引列索引已知

w    0
x    1
Name: a, dtype: int64

In [25]:
data.iat[1,1]   #选取第二行第二列，用于已知行、列位置的选取

5

In [26]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [27]:
data = DataFrame(np.arange(15).reshape(3,5),index=['one','two','three'],columns=['a','b','c','d','e'])

In [28]:
data

        a   b   c   d   e
one     0   1   2   3   4
two     5   6   7   8   9
three  10  11  12  13  14