## Python+Pandas 读取Oracle数据库

In [1]:
# -*- coding: utf-8 -*-

import pandas as pd
from sqlalchemy import create_engine
import cx_Oracle as oracle

import os 
os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'

In [2]:
conn = oracle.connect('NNSCUSER','NNSCUSER','192.168.1.171/orcl')

In [3]:
conn.version

'11.2.0.1.0'

In [4]:
cur = conn.cursor()

In [5]:
sql="select table_name from all_tables where owner='NNSCUSER'"

In [6]:
ret = cur.execute(sql)

In [7]:
lis = cur.fetchall()

In [8]:
table_name = pd.read_sql(sql, conn)
table_name

                         TABLE_NAME
0                        CMP3$97678
1                   MT_CF_PAGEQUERY
2                  MT_CF_QUERYCHART
3            MT_CF_QUERYCOLUMNALARM
4                MT_CF_QUERYCOLUMNS
5               MT_CF_QUERYFUNCTION
6              MT_CF_QUERYSINGCHART
7       MT_DC_CONVEYANCE_PRODUCTION
8              MT_DC_PB_MACHINEAREA
9             MT_DC_PB_MACHINEGROUP
10               MT_DC_PB_PARAMCODE
11              MT_DC_PB_REJECTCODE
12              MT_DC_PB_REJECTTYPE
13             MT_DC_PB_REQUESTCODE
14              MT_DC_PB_STATUSCODE
15                MT_DC_PB_STOPCODE
16               MT_DC_PB_WASTECODE
17             MT_DC_PB_WEIGHT_CODE
18            MT_DC_PM_LONGSTOPCODE
19             MT_DC_PM_MP_FILETYPE
20        MT_DC_PM_MP_GD102DATA_CUR
21       MT_DC_PM_MP_GD1057DATA_CUR
22        MT_DC_PM_MP_PT102DATA_CUR
23       MT_DC_PM_MP_PT1057DATA_CUR
24            MT_DC_PM_MP_TS102DATA
25                  MT_DC_ZX102_CUR
26                      MT_PB_CLASS
27                  MT_PB_INFOCLASS
28                    MT_PB_ISVALID
29                    MT_PB_MACHINE
..                              ...
101               MT_PB_MEASUREUNIT
102            MT_PB_MATERIAL_PLATE
103                  MT_PB_MATERIAL
104           MT_PB_MACHINEEMPLOYEE
105             MT_PB_LOCAL_MENUFUN
106                MT_PB_LOCAL_MENU
107                     MT_PB_FILES
108             MT_PB_EMPLOYEE_AREA
109                  MT_PB_EMPLOYEE
110            MT_PB_BREAKDOWN_TYPE
111               MT_PB_ACTIVE_POST
112            MT_PB_ACTIVE_ITEM_GD
113               MT_PB_ACTIVE_ITEM
114                    MT_PB_ACTIVE
115                 MT_HR_WORKPLAN1
116                MT_DC_STATUSFLAG
117             MT_DC_QUALITYDETAIL
118            MT_DC_PM_MP_SENTFILE
119         MT_DC_PM_MP_MACHINEPLAN
120          MT_DC_PM_MP_CHANGETASK
121       MT_DC_PM_MP_CHANGEENTRYID
122    MT_DC_PM_MP_CHANGEBRAND_PLAN
123         MT_DC_PM_MP_CHANGEBRAND
124        MT_DC_PB_RAILROUT_RECORD
125               MT_DC_PB_RAILROUT
126      MT_DC_PB_EMPLOYEEITEMGROUP
127  MT_DC_PB_CONVEYPIPELINE_RECORD
128         MT_DC_PB_CONVEYPIPELINE
129   MT_DC_PB_CONVEYCONDUIT_RECORD
130          MT_DC_PB_CONVEYCONDUIT

[131 rows x 1 columns]

In [9]:
table_name.to_csv('table_name.csv')

### 以下为131个表中的数据：

In [10]:
table_list = []
for tn in table_name['TABLE_NAME']:
    sql = 'select * from ' + tn
    df = pd.read_sql(sql, conn)
    if not df.empty:
        table_list.append(df)
        print(tn)

CMP3$97678
MT_CF_PAGEQUERY
MT_CF_QUERYCHART
MT_CF_QUERYCOLUMNALARM
MT_CF_QUERYCOLUMNS
MT_CF_QUERYFUNCTION
MT_CF_QUERYSINGCHART
MT_DC_CONVEYANCE_PRODUCTION
MT_DC_PB_MACHINEAREA
MT_DC_PB_MACHINEGROUP
MT_DC_PB_PARAMCODE
MT_DC_PB_REJECTCODE
MT_DC_PB_REJECTTYPE
MT_DC_PB_REQUESTCODE
MT_DC_PB_STATUSCODE
MT_DC_PB_STOPCODE
MT_DC_PB_WASTECODE
MT_DC_PB_WEIGHT_CODE
MT_DC_PM_LONGSTOPCODE
MT_DC_PM_MP_FILETYPE
MT_DC_PM_MP_GD102DATA_CUR
MT_DC_PM_MP_GD1057DATA_CUR
MT_DC_PM_MP_PT102DATA_CUR
MT_DC_PM_MP_PT1057DATA_CUR
MT_DC_PM_MP_TS102DATA
MT_DC_ZX102_CUR
MT_PB_CLASS
MT_PB_INFOCLASS
MT_PB_ISVALID
MT_PB_MACHINE
MT_PB_MACHINECLASS
MT_PB_MACHINEPART
MT_PB_MACHINESTATUS
MT_PB_MACHINETYPE
MT_PB_MACHINETYPEPART
MT_PB_NEWSTYPE
MT_PB_NOTICEBOARD
MT_PB_NOTICERECEIVE
MT_PB_ORG
MT_PB_POST
MT_PB_PRODUCT
MT_PB_PRODUCTCATENA
MT_PB_SHIFT
MT_PB_SHIFTARRANGE
MT_PB_UNIT
MT_QL_PARAMETER
TEST_DATA
TEST_MAIN

In [11]:
table_list[0].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,NO,PB_PRODUCT_ID,GATHERDATETIME,MACHINESPEED,TOTALPRODUCTION
0,2016-04-11,1,107,1,10001586,2016-04-11 10:17:38,0,0
1,2016-04-11,1,120,1,10001586,2016-04-11 10:17:38,0,0
2,2016-04-11,1,104,1,10001586,2016-04-11 10:17:55,2499,0
3,2016-04-11,1,108,1,10001586,2016-04-11 10:18:01,0,0
4,2016-04-11,1,119,1,10001586,2016-04-11 10:18:08,2,0

In [12]:
table_list[0].shape

(178222, 8)

In [13]:
table_list[1].head()

,QUERYPAGECODE,QUERYPAGENAME,FUNCODE,ORDERNUMBER,SQLTEXT,ISVALID,CURSQLTEXT,AUTOCOLUMNWITH
0,10038,牌号/停机原因,10005,7,"SELECT T.PRODUCTNAME,T.PRODUCTSHORTNAME,T.STOP...",1,"SELECT T.PRODUCTNAME,T.PRODUCTSHORTNAME,T.STOP...",1
1,10001,生产数据查询,10001,1,select * from mv_dc_pm_mp_pt102data t where 1...,1,select * from mv_dc_pm_mp_pt102data_cur t whe...,1
2,10002,机台对比,10001,2,"SELECT T.PM_MP_MACHINE_ID, T.MACHINESHOR...",1,"SELECT T.PM_MP_MACHINE_ID, T.MACHINESHOR...",1
3,10003,牌号对比,10001,3,"SELECT T.PB_PRODUCT_ID, T.PRODUCTNAME,t....",1,"SELECT T.PB_PRODUCT_ID, T.PRODUCTNAME,t....",1
4,10004,机台/牌号对比,10001,4,"SELECT T.PM_MP_MACHINE_ID,T.MACHINESHORTNAME,T...",1,"SELECT T.PM_MP_MACHINE_ID,T.MACHINESHORTNAME,T...",1

In [14]:
table_list[1].shape

(49, 8)

In [15]:
table_list[2].head()

,CHARTCODE,CHARTNAME,QUERYPAGECODE,HCOLUMNNAME,VCOLUMNNAME,CHARTTYPE,ISVALID,SHOWAVG
0,10001,机台产量对比,10002,MACHINESHORTNAME,TOTALPRODUCTION,1,1,1
1,10002,机台剔除对比,10002,MACHINESHORTNAME,TOTALWASTE,2,1,0
2,10003,牌号产量对比,10003,PRODUCTNAME,TOTALPRODUCTION,1,1,1
3,10004,牌号剔除对比,10003,PRODUCTNAME,TOTALWASTE,2,1,0
4,10007,每天产量对比,10005,PRODUCEDATE,TOTALPRODUCTION,1,1,1

In [16]:
table_list[2].shape

(24, 8)

In [17]:
table_list[3].head()

,ALARM_CODE,FUNCTIONCOLUMNCODE,ALARMNAME,COMPAREEXP,OBJECTVALUE1,OBJECTVALUE2,APPROW,ISVISIBLE,ARGBCOLOR,COLORTYPE
0,4,10090,作业率1,Between,65,80.00,1,1,"255,177,94",1
1,5,10090,作业率2,Greater,79,None,0,1,"95,252,0",1
2,6,10090,作业率3,Less,65,None,0,1,"255,0,0",1
3,1,10028,作业率1,Between,65.00,80.00,1,1,"255,177,94",1
4,2,10028,作业率2,Greater,80,None,0,1,"95,252,0",1

In [18]:
table_list[3].shape

(7, 10)

In [19]:
table_list[4].head()

,FUNCTIONCOLUMNCODE,QUERYPAGECODE,FUNCTIONCOLUMNNAME,COLUMNCAPTIONNAME,COLUMNALLOWEDIT,HEADERHALIGNMENT,COLUMNSUMMARYTYPE,COLUMNSUMMARYFORMAT,COLUMNDISPLAYFORMAT,COLUMNALLOWFILTER,COLUMNWIDTH,COLUMNSIDISPLAY,ISVISIBLE,ISX,ORDERNUMBER
0,10039,10003,PRODUCTNAME,生产牌号,0,center,count,共{0}条,None,0,0,1,1,0,1
1,10038,10001,PLANPRODUCTION,计划产量,0,center,sum,None,None,0,0,1,1,0,31
2,10040,10003,TOTALPRODUCTION,产量(箱),0,center,sum,None,None,0,0,1,1,0,5
3,10041,10003,FILTERTIP,咀棒(千支),0,center,sum,None,None,0,0,1,1,0,11
4,10042,10003,PAPER,盘纸(盘),0,center,sum,None,None,0,0,1,1,0,13

In [20]:
table_list[4].shape

(258, 15)

In [21]:
table_list[5].head()

,FUNCODE,PM_MP_MACHINECLASS_ID,SHOWPRODUCT,ISVALID,FUNNAME,QUERYCONTROLTYPE,PRODUCTTYPE
0,10020,1,1,1,备件领用申请,1,1
1,10020,1,1,1,备件领用申请,1,1
2,10020,1,1,1,备件领用申请,1,1

In [22]:
table_list[6].head()

,CHARTCODE,CHARTNAME,CHARTTITLE,CHARTTYPE,QUERYCONTROLTYPE,PM_MP_MACHINECLASS_ID,SHOWPRODUCT,CURSQLTEXT,SQLTEXT,SHOWAVG,HCOLUMNNAME,VCOLUMNNAME,CHARTUNIT,SHOWVALUE
0,10029,废品趋势图-深色点(%),深色点(%),3,3,1,0,None,"SELECT TO_CHAR(TO_DATE(T.GATHERDATETIME, 'YYYY...",1,GATHERDATETIME,VALUE_CUR,%,1
1,10030,废品趋势图-印刷不良(%),印刷不良(%),3,3,1,0,None,"SELECT TO_CHAR(TO_DATE(T.GATHERDATETIME, 'YYYY...",1,GATHERDATETIME,VALUE_CUR,%,1
2,10031,废品趋势图-SRM取样(%),SRM取样(%),3,3,1,0,None,"SELECT TO_CHAR(TO_DATE(T.GATHERDATETIME, 'YYYY...",1,GATHERDATETIME,VALUE_CUR,%,1
3,10032,废品趋势图-总废品率(%),总废品率(%),3,3,1,0,None,"SELECT TO_CHAR(TO_DATE(T.GATHERDATETIME, 'YYYY...",1,GATHERDATETIME,VALUE_CUR,%,1
4,10033,废品趋势图-漏气(%),漏气(%),3,3,1,0,None,"SELECT TO_CHAR(TO_DATE(T.GATHERDATETIME, 'YYYY...",1,GATHERDATETIME,VALUE_CUR,%,1

In [23]:
table_list[6].shape

(34, 14)

In [24]:
table_list[7].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,NO,PB_FILTERPRODUCT_ID,GATHERDATETIME,PRODUCTION,STATUSCODE,STOPCNT,STOPTIME,GATHERTYPE,BATCH,INSERTTIME,REJECTPRODUCTION,PLANCODE,PRODUCTID,PRODUCTNAME
0,2016-09-20,1,504,1,1,2016-09-20 15:56:20,1734336,0,0,28647,E,None,None,None,None,None,None
1,2016-09-20,1,505,1,1,2016-09-20 15:56:21,2398762,0,0,28647,E,None,None,None,None,None,None
2,2016-09-20,1,506,1,1,2016-09-20 15:56:21,2557909,0,0,28647,E,None,None,None,None,None,None
3,2016-09-20,1,507,1,1,2016-09-20 15:56:21,1477332,0,0,28647,E,None,None,None,None,None,None
4,2016-09-20,1,508,1,1,2016-09-20 15:56:22,0,0,0,28647,E,None,None,None,None,None,None

In [25]:
table_list[7].shape

(6120, 17)

In [26]:
table_list[8].head()

   DC_PB_MACHINEAREAID AREA_CODE AREA_NAME
0                    0         0       其他0
1                    3         3       其他1
2                    1         1       硬包线
3                    2         2       软包线

In [27]:
table_list[9].head()

   DC_PB_MACHINEGROUPID MACHINEGROUP_CODE MACHINEGROUP_NAME
0                     1                 1            X#卷包机组
1                     2                 2            Z#卷包机组
2                     3                 3           14#卷包机组
3                     4                 4           14#卷包机组
4                     5                 5           14#卷包机组

In [28]:
table_list[9].shape

(20, 3)

In [29]:
table_list[10].head()

   DC_PB_PARAMCODEID SHORTNAME FULLNAME COMPANYCODE  ISVALID
0             122001        牌号       牌号      122001        1
1             122002      目标重量     目标重量      122002        1
2             122004      较准调整     较准调整      122004        1
3             122005    内部目标重量   内部目标重量      122005        1
4             122006      校准斜率     校准斜率      122006        1

In [30]:
table_list[10].shape

(24, 5)

In [31]:
table_list[11].head()

,PM_MP_REJECTCODE_ID,PM_MP_MACHINETYPE_ID,PM_MP_REJECTTYPE_ID,REJECTNAME,COMPANYCODE,ISVALID,ISREJECT
0,9000007,9,0,烟支模盒堵塞而剔除,9000007,1,1
1,9000008,9,0,光电探测器电路板故障而剔除,9000008,1,1
2,9000009,9,0,烟支空头而剔除,9000009,1,1
3,9000010,9,0,光电探测器测出缺烟而剔除,9000010,1,1
4,9000011,9,0,手动剔除未对齐的铝箔纸数,9000011,1,1

In [32]:
table_list[11].shape

(621, 7)

In [33]:
table_list[12].head()

,PM_MP_REJECTTYPE_ID,REJECTTYPENO,REJECTTYPESHORTNAME,REJECTTYPENAME,ISVALID
0,30,10,350部位剔除,350部位剔除,1
1,31,11,401部位剔除,401部位剔除,1
2,32,12,408部位剔除,408部位剔除,1
3,40,20,B1部位剔除,B1部位剔除,1
4,41,21,RC部位剔除,RC部位剔除,1

In [34]:
table_list[12].shape

(6, 5)

In [35]:
table_list[13].head()

   PM_MP_REQUESTCODE_ID  PM_MP_MACHINECLASS_ID REQUESTNAME  ISVALID
0                     8                      1        技术支援        1
1                     1                      1        机械故障        1
2                     2                      1        电气故障        1
3                     3                      1        调度停机        1
4                     4                      1      厂家设备调整        1

In [36]:
table_list[13].shape

(8, 4)

In [37]:
table_list[14].head()

,STATUSCODE,STATUSNAME,ISVALID,NOTES,COLORVAL,COLORDESC,CONTROLSTATUSCODE
0,11,压车,1,None,none.png,None,11
1,0,运行,1,None,run.png,None,0
2,1,停机,1,None,stop.png,None,1
3,2,未开机,1,None,none.png,None,2
4,3,空柜待料,1,None,empty.png,None,3

In [38]:
table_list[14].shape

(10, 7)

In [39]:
table_list[15].head()

,PM_MP_STOPCODE_ID,PM_MP_MACHINETYPE_ID,STOPNAME,COMPANYCODE,ISVALID
0,9001068,9,OUTPUT DIAGN: N25 24 5K141,9001068,1
1,9001069,9,INPUT DIAGN: N06 23 5S573,9001069,1
2,9001070,9,INPUT DIAGN: N06 24 5S572,9001070,1
3,9001071,9,OUTPUT DIAGN: N25 32 5H573,9001071,1
4,9001072,9,OUTPUT DIAGN: N25 31 5H572,9001072,1

In [40]:
table_list[15].shape

(5739, 5)

In [41]:
table_list[16].head()

   DC_PB_WASTECODEID SHORTNAME FULLNAME COMPANYCODE  ISVALID
0             104101        过轻       过轻      104101        0
1             104102        过重       过重      104102        0
2             104103        软点       软点      104103        0
3             104104        硬点       硬点      104104        0
4             104105      轻端剔出     轻端剔出      104105        0

In [42]:
table_list[16].shape

(44, 5)

In [43]:
table_list[17].head()

   DC_PB_WEIGHT_CODEID SHORTNAME      FULLNAME COMPANYCODE  ISVALID
0               103013   紧 头 偏 差  紧 头 偏 差 (mm)      103013        1
1               103014   内排平均稀释度       内排平均稀释度      103014        1
2               103015   外排平均稀释度       外排平均稀释度      103015        1
3               103009      标准偏差          标准偏差      103009        1
4               103008      平均重量          平均重量      103008        1

In [44]:
table_list[17].shape

(15, 5)

In [45]:
table_list[18].head()

  REASONCODE REASON COMPANYCODE  ISVALID  ISFAULT
0       0008   设备改造        None        1        0
1       0009     做样        None        1        0
2       0001     待盘        None        1        0
3       0002    待料　        None        1        0
4       0003     日保        None        1        0

In [46]:
table_list[18].shape

(13, 5)

In [47]:
table_list[19].head()

   FILETYPEID   FILETYPENAME  ISVALID
0           3  CRAFT.TXT            0
1           2  SYSTEM.CMD           0
2           1  NOTE.TXT             1

In [48]:
table_list[20].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,PM_MP_MACHINEPART_ID,NO,PB_PRODUCT_ID,GATHERDATETIME,PRODUCTIONSTARTTIME,POWEROFFTIME,PREPARATIONTIME,...,MACHINESPEED,NORMALSPEED,BARPRODUCTION,GATHERTYPE,MODIFYPRODUCTION,INSERTTIME,BATCH,PLANCODE,PRODUCTID,PRODUCTNAME
0,2015-11-11,3,202,1,1,10001586,2015-11-12 07:20:04,0:0,0,0,...,0,400,0,E,126910,2015-11-12 00:00:36,None,None,None,None
1,2015-11-11,3,202,2,1,10001586,2015-11-12 07:20:04,0:0,0,0,...,0,380,0,E,126932,2015-11-12 00:00:36,None,None,None,None
2,2015-11-11,3,215,1,1,10001586,2015-11-12 07:20:01,0:0,0,0,...,0,400,0,E,124130,2015-11-12 00:00:37,None,None,None,None
3,2015-11-11,3,215,2,1,10001586,2015-11-12 07:20:02,0:0,0,0,...,0,380,0,E,123815,2015-11-12 00:00:38,None,None,None,None
4,2015-11-11,3,220,1,1,10001586,2015-11-12 07:20:04,0:0,0,0,...,0,400,0,E,113730,2015-11-12 00:00:38,None,None,None,None

In [49]:
table_list[21].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,PM_MP_MACHINEPART_ID,NO,PB_PRODUCT_ID,GATHERDATETIME,PM_MP_REJECTCODE_ID,REJECTVALUE,GATHERTYPE
0,2017-04-17,1,214,2,1,10001586,2017-04-17 15:56:52,6100046,95,E
1,2017-04-17,1,214,2,1,10001586,2017-04-17 15:56:52,6100054,23,E
2,2017-04-17,1,214,2,1,10001586,2017-04-17 15:56:52,6100068,24,E
3,2017-04-17,1,214,2,1,10001586,2017-04-17 15:56:52,6100071,4,E
4,2017-07-24,1,215,2,1,10001586,2017-07-24 09:51:43,6100046,5,A

In [50]:
table_list[21].shape

(4508, 10)

In [51]:
table_list[22].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,NO,PB_PRODUCT_ID,GATHERDATETIME,TOTALPRODUCTION,FILTERTIP,PAPER,WPAPER,...,RUNTIME,PRODUCTIONSTARTTIME,TOTALSTOPTIME,TOTALSTOPCNT,GATHERTYPE,INSERTTIME,BATCH,PLANCODE,PRODUCTID,PRODUCTNAME
0,2015-11-13,1,115,1,10001586,2015-11-13 15:59:59,2,742,0.0,0.0,...,28980,07:20,2160,34,E,2015-11-13 07:20:31,None,None,None,None
1,2015-11-13,1,102,1,10001586,2015-11-13 16:00:02,2,680,0.0,0.0,...,27720,07:20,3420,37,E,2015-11-13 07:20:53,None,None,None,None
2,2015-11-13,1,113,1,10001586,2015-11-13 15:59:58,3,813,0.0,0.0,...,29700,07:20,1440,22,E,2015-11-13 07:20:55,None,None,None,None
3,2015-11-13,1,101,1,10001586,2015-11-13 16:00:08,3,784,0.0,0.0,...,28980,07:20,2160,12,E,2015-11-13 07:21:00,None,None,None,None
4,2015-11-13,1,119,1,10001586,2015-11-13 16:01:06,0,0,0.0,0.0,...,2880,07:20,28260,26,E,2015-11-13 07:22:05,None,None,None,None

In [52]:
table_list[23].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,NO,PB_PRODUCT_ID,GATHERDATETIME,PM_MP_REJECTCODE_ID,REJECTVALUE,GATHERTYPE
0,2017-07-17,1,105,1,10001586,2017-07-17 10:14:37,105002,15,A
1,2016-07-27,1,107,2,10001586,2016-07-27 15:57:07,105003,213,E
2,2016-07-27,1,107,2,10001586,2016-07-27 15:57:07,105005,208,E
3,2017-06-28,1,116,1,10001586,2017-06-28 15:59:42,107005,3133,E
4,2016-07-23,3,101,2,10001586,2016-07-23 01:41:00,105001,117,H

In [53]:
table_list[23].shape

(5117, 9)

In [54]:
table_list[24].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,NO,PB_PRODUCT_ID,GATHERDATETIME,TOTALPRODUCTION,STATUS,GATHERTYPE,PM_MP_MACHINE_ID_GD,PM_MP_MACHINE_ID_YP11,Column_12,Column_13
0,2016-05-22,1,201,1,12332,2016-05-22 09:42:06,123,1,A,None,None,None,None

In [55]:
table_list[25].head()

,PRODUCEDATE,PB_SHIFT_ID,PM_MP_MACHINE_ID,NO,PB_PRODUCT_ID,GATHERDATETIME,PRODUCTION,STATUSCODE,STOPCNT,STOPTIME,...,REJECT,REJECT_1,REJECT_2,REJECT_3,TIME_POWEROFF,OPERATORSTATUS,MACHINESTANDBY,UP_CREATEDATE,INSERTTIME,BATCH
0,2016-05-28,1,606,1,1,2016-05-28 15:28:01,373,1,48,1,...,0,0,0,0,0,48,48,None,2016-05-28 07:28:04,None
1,2016-05-28,1,607,1,1,2016-05-28 15:28:02,340,1,2,1,...,0,0,0,0,0,48,48,None,2016-05-28 07:28:04,None
2,2016-05-28,1,608,1,1,2016-05-28 15:28:02,186,1,33,1,...,0,0,0,0,0,48,48,None,2016-05-28 07:28:04,None
3,2016-05-28,2,601,1,1,2016-05-28 23:57:58,216,1,14,1,...,0,0,0,0,0,48,48,None,2016-05-28 15:28:02,None
4,2016-05-28,2,602,1,1,2016-05-28 23:57:59,932,1,8,1,...,0,0,0,0,0,48,48,None,2016-05-28 15:28:03,None

In [56]:
table_list[26].head()

,PB_CLASSID,CLASSCODE,CLASSNAME,ISVALID,CREATEUSERID,CREATEDATETIME,LASTMODIFYUSERID,LASTMODIFYDATETIME,REAMRK,CLASSCONTROLCODE
0,4,4,丁班,0,None,None,None,None,None,4
1,1,1,甲班,1,None,None,None,None,None,1
2,2,2,乙班,1,None,None,None,None,None,2
3,3,3,丙班,1,None,None,None,None,None,3
4,5,5,白班,1,None,None,None,None,None,5

In [57]:
table_list[26].shape

(6, 10)

In [58]:
table_list[27].head()

   MT_PB_INFOCLASS_ID INFOCLASS_NAME INFOCLASS_CODE  ISVALID
0                   1             生产            001        1
1                   2             设备            002        1
2                   3             质量            003        1
3                   4           过程监控            004        1
4                   5             综合            005        1

In [59]:
table_list[28].head()

   PB_ISVALID_ID  GROUPCODE GROUPNAME  GROUPNO
0             49          1      饭后自检       10
1             51          3     设备维修后       10
2             52          4       换烟后       10
3             41          0        阻塞       21
4             42          1        通畅       21

In [60]:
table_list[28].shape

(103, 4)

In [61]:
table_list[29].head()

,PM_MP_MACHINE_ID,PM_MP_MACHINECLASS_ID,PM_MP_MACHINETYPE_ID,MACHINENO,DC_PB_MACHINEAREAID,DC_PB_MACHINEGROUPID,MACHINESHORTNAME,MACHINENAME,UPMACHINENO,GATHERMACHINENO,...,EQU_CODE,GYCLASS,MACHINEMODELID,ISCIGARET,THEROYPRODUCTION,MACHINEIMAGE,PB_ORGID,GROUPNAME,GROUPTYPE,QLGROUPID
0,605,5,8,0,20,5,YP11-5,5#封箱机,50,135,...,203206001005,None,None,None,0.0,None,None,None,NaN,NaN
1,606,5,8,0,20,5,YP11-6,6#封箱机,50,136,...,203206001006,None,None,None,0.0,None,None,None,NaN,NaN
2,607,5,8,0,20,5,YP11-7,7#封箱机,50,137,...,203206001007,None,None,None,0.0,None,None,None,NaN,NaN
3,608,5,8,0,20,5,YP11-8,8#封箱机,50,138,...,203206001008,None,None,None,0.0,None,None,None,NaN,NaN
4,609,5,8,0,20,5,YP11-9,9#封箱机,50,139,...,203206001009,None,None,None,0.0,None,None,None,NaN,NaN

In [62]:
table_list[29].shape

(80, 22)

In [63]:
table_list[30].head()

,PM_MP_MACHINECLASS_ID,MACHINECLASSNO,MACHINECLASSSHORTNAME,MACHINECLASSNAME,ISVALID
0,12,12,空调设备,空调设备,0
1,13,13,综合测试台,综合测试台,0
2,9,09,储丝柜,储丝柜,0
3,7,07,喂丝机,喂丝机,0
4,1,01,卷烟机,卷烟机,1

In [64]:
table_list[30].shape

(13, 5)

In [65]:
table_list[31].head()

,PM_MP_MACHINEPART_ID,PM_MP_MACHINETYPE_ID,MACHINEPARTNO,MACHINEPARTSHORTNAME,MACHINEPARTNAME,ISVALID,ISKEYPART,ISGOD
0,3,13,3,TS,提升机,1,0,0
1,1,13,1,CH,玻璃纸机,1,1,1
2,10,2,10,350,350部位,0,0,1
3,11,2,11,401,401部位,0,1,0
4,12,2,12,408,408部位,0,0,0

In [66]:
table_list[31].shape

(12, 8)

In [67]:
table_list[32].head()

,PM_MP_MACHINE_ID,GATHERDATETIME,STATUSCODE,PM_MP_STOPCODE_ID,THE_MEMO,ISVALID,ISALARM,TIME_ALARM,ALARMCODEID,ISREQ_MANT
0,105,2017-07-17 09:58:55,0,0,None,1,0,None,None,0
1,108,2017-07-28 15:15:53,0,0,None,1,0,None,None,0
2,106,2017-06-06 16:52:09,1,0,None,1,0,None,None,0
3,107,2017-07-28 15:04:30,1,0,None,1,0,None,None,0
4,101,2017-06-29 10:41:42,1,0,None,1,0,None,None,0

In [68]:
table_list[32].shape

(38, 10)

In [69]:
table_list[33].head()

,PM_MP_MACHINETYPE_ID,PM_MP_MACHINECLASS_ID,MACHINETYPENO,MACHINETYPESHORTNAME,MACHINETYPENAME,ISVALID,MACHINESPEED
0,26,10,26,除尘设备,除尘设备,0,0.0
1,27,11,27,风送设备,风送设备,0,0.0
2,28,12,28,空调设备,空调设备,0,0.0
3,22,7,22,SF132-2喂丝机,SF132-2喂丝机,0,NaN
4,24,9,24,储丝柜,储丝柜,0,NaN

In [70]:
table_list[33].shape

(31, 7)

In [71]:
table_list[34].head()

,PM_MP_PART_ID,PM_MP_MACHINETYPE_ID,PARTNO,PARTSHORTNAME,PARTNAME,ISVALID,ISKEYPART,ISGOD
0,14,10,6,验收情况,验收情况,1,0,0
1,15,4,6,验收情况,验收情况,1,0,0
2,16,31,4,YJ35,YJ35,1,0,0
3,17,4,4,HCF COMFLEX,HCF COMFLEX,1,0,0
4,18,10,4,HCF COMFLEX,HCF COMFLEX,1,0,0

In [72]:
table_list[34].shape

(35, 8)

In [73]:
table_list[35].head()

   MT_PB_NEWSTYPE_ID TYPE_NAME TYPE_CODE  ISVALID
0                  1        通知       001        1
1                  2        新闻       002        1
2                  3        消息       003        1
3                  4        标准       004        1
4                  5        指令       005        1

In [74]:
table_list[35].shape

(11, 4)

In [75]:
table_list[36].head()

,MT_PB_NOTICE_ID,MT_PB_NEWSTYPE_ID,MT_PB_INFOCLASS_ID,PRODUCEDATE,TITLES,CONTENTS,PUBLISHER,PUBLISHTIME,ISVALID,STATUS,DUEDAYS,REMARK,INFOCLASSNAME
0,8e3d2e8f-8eb5-4739-a44b-28c07919302d,1,2,2014-12-21,备件申报注意事项,备件申报由组长（或责任电工）收集申报，并提交电子档申报表。提交\r之前请核对规格型号，依照库...,胡祥胜,2014-12-21 11:08,1,1,0,None,None
1,43fc379f-d686-4119-9c88-59b3f89febbb,4,1,2015-10-07,危险源识别,最新危险源识别,胡祥胜,2015-10-07 10:13,1,1,0,None,None
2,47c01057-7f9e-4654-8649-dfa59104eced,11,1,2012-07-01,GDX1维修经验,GDX1维修经验,JBSC,2012-07-01 09:01,1,1,0,GDX1维修经验,None
3,5d53b8c2-b08b-497c-9fa1-bb1fe46ead8f,11,1,2014-07-03,高级工技能鉴定资料库,高级工技能鉴定学习资料,胡祥胜,2014-07-03 09:27,1,1,0,高级工技能鉴定学习资料,None
4,1ed52612-fa3a-4abb-80f2-a6b1cdd5b731,1,3,2012-12-04,工艺质量电子记录考核通知,工艺质量电子记录填写考核,曾天青,2012-12-04 14:07,1,1,0,None,None

In [76]:
table_list[36].shape

(28, 13)

In [77]:
table_list[37].head()

,MT_PB_NOTICERECEIVE_ID,MT_PB_NOTICE_ID,PM_MP_MACHINE_ID,RECEIVEDATE,STATUS,REMARK
0,dde63621-282e-4bb8-ab2e-fd696905c9e6,24c7b1ae-cd73-43ac-a1bb-d2093e12ecab,603,,0,
1,317ba7fe-9f60-4296-9a13-98703d98143f,24c7b1ae-cd73-43ac-a1bb-d2093e12ecab,604,,0,
2,4a88d309-3a54-4158-97be-47351adf29ba,f6dc87f5-dc40-41a3-9080-b0fad1567b38,201,,1,
3,9576442c-ba11-44e7-8623-32831afca332,f6dc87f5-dc40-41a3-9080-b0fad1567b38,202,,1,
4,4d7ddade-c114-45f8-ac6c-c62c92b18fb8,f6dc87f5-dc40-41a3-9080-b0fad1567b38,203,,1,

In [78]:
table_list[37].shape

(976, 6)

In [79]:
table_list[38].head()

,PB_ORGID,PARENT_ID,ORGCODE,ORGNAME,ORDERINDEX,ISVALID,TREENODETYPECODE,REAMRK
0,10000,NaN,10,襄阳卷烟厂,0,1,None,None
1,10001,10000.0,11,卷包车间,1,1,1,None
2,10002,10000.0,12,成型车间,2,1,1,None
3,10003,10000.0,13,信息中心,3,1,1,None
4,10004,10000.0,14,工艺质量科,4,1,1,None

In [80]:
table_list[38].shape

(6, 8)

In [81]:
table_list[39].head()

,PB_POSTID,POST_CODE,POST_NAME,PARENT_ID,ISVALID,REMARK,PB_ORGID,IS_LOGON,ORDERNO
0,10,10,卷包车间,0.0,0,None,10001.0,0,1.0
1,146,146,白班电工,121.0,1,None,10001.0,1,12.0
2,162,162,生产主任,10.0,1,None,10001.0,1,2.0
3,150,150,机台人员,NaN,0,None,10001.0,0,NaN
4,160,160,维修人员,NaN,0,None,10001.0,0,NaN

In [82]:
table_list[39].shape

(47, 9)

In [83]:
table_list[40].head()

,PB_PRODUCTID,PB_PRODUCTCATENAID,WORKINGPROCEDURETYPECODE,PRODUCTCODE,PRODUCTNAME,ISVALID,CREATEUSERID,CREATEDATETIME,LASTMODIFYUSERID,LASTMODIFYDATETIME,PRODUCTSHORTNAME,PRODUCT_EQU_CODE,PRODUCTSPEED,ISNEW
0,79,2,1,32226,32226红金龙(硬神州腾龙),1,None,NaT,None,NaT,32226红金龙(硬神州腾龙),None,7.2,1
1,2,1,1,04203,04203红双喜（硬）,1,None,NaT,None,2011-12-13 15:30:45,04203红双喜（硬）,1,0.0,1
2,28,-1,1,22242,22242红金龙(硬红),1,None,NaT,None,2011-12-13 11:28:33,22242红金龙(硬红),None,0.0,1
3,31,2,1,02202,02202红金龙(硬红),1,None,NaT,None,NaT,02202红金龙(硬红),None,0.0,1
4,32,2,1,22263,22263红金龙(硬红),1,None,NaT,None,NaT,22263红金龙(硬红),None,0.0,1

In [84]:
table_list[40].shape

(50, 14)

In [85]:
table_list[41].head()

,PB_PRODUCTCATENAID,PRODUCTCATENACODE,PRODUCTCATENANAME,ISVALID,CREATEUSERID,CREATEDATETIME,LASTMODIFYUSERID,LASTMODIFYDATETIME
0,1,10001,红双喜,1,None,None,None,None
1,2,10002,红金龙,1,None,None,None,None
2,3,10003,大丰收,1,None,None,None,None
3,0,10000,黄鹤楼,1,None,None,None,None

In [86]:
table_list[42].head()

,PB_SHIFT_ID,SHIFTCODE,SHIFTNAME,ISVALID,CREATEUSERID,CREATEDATETIME,LASTMODIFYUSERID,LASTMODIFYDATETIME,REAMRK,SHIFTCONTROLCODE
0,4,4,常白班,0,None,None,None,None,None,4
1,0,0,休息,0,None,None,None,None,None,0
2,1,1,早班,1,None,None,None,None,None,1
3,2,2,中班,1,None,None,None,None,None,2
4,3,3,夜班,1,None,None,None,None,None,3

In [87]:
table_list[43].head()

,PB_SHIFTARRANGEID,PB_SHIFT_ID,PB_ORGID,TIMEFLAG,SHIFTSTARTTIME,SHIFTENDTIME,FACTTIME,GATHERCONTROLENDTIME,GATHERCONTROLSTARTTIME,ORDERINDEX,ISVALID,CREATEUSERID,CREATEDATETIME,LASTMODIFYUSERID,LASTMODIFYDATETIME,REAMRK,IFCONVERT
0,10000026,3,10001,4,00:00:01,07:30:00,12600,None,None,3,1,9999,None,60,None,夜班,1
1,10000027,2,10001,2,16:00:01,00:00:00,37800,None,None,2,1,9999,None,60,None,中班,1
2,10000028,1,10001,0,07:30:01,16:00:00,36000,None,None,1,1,9999,None,60,None,白班,1

In [88]:
table_list[44].head()

   MT_PB_UNIT_ID UNIT_NAME UNIT_CODE  ISVALID REMARK
0              1         g         g        1      克
1              2        Pa        Pa        1      帕
2              3         %         %        1    百分比
3              4         m         m        1      米

In [89]:
table_list[45].head()

  MT_QL_PARAMETER_ID PARAMETER_NAME PARAMETER_TYPE_ID  ISVALID  PB_UNIT_ID
0               1000         鐑熸敮鍚搁樆              None        1           2
1               1001      鍗曟敮璐ㄩ噺鏍囧噯              None        1           1
2               1002        20鏀川閲?              None        1           1
3               1003            纭害              None        1           3
4               1004        鎬婚€氶鐜?              None        1           3

In [90]:
table_list[46].head()

,MACH_ID,TEST_ID,ROD_INDEX,WEIGHT_VALUE,CIRCLE_VALUE,OVALITY_VALUE,LENGTH_VALUE,PD_VALUE,CPD_VALUE,FVENT_VALUE,ALLVENT_VALUE,HARD_VALUE,HARD_PP_VALUE,HARD_BP_VALUE,TEST_SINGLE_TIME
0,test1,2015-10-28 09:16:45OM-VA,17,0.528,17.045092,None,97.210899,1.793685,None,None,None,None,None,None,2015-11-04 17:53:12
1,test1,2015-10-28 09:16:45OM-VA,18,0.543,17.025764,None,97.003197,1.808758,None,None,None,None,None,None,2015-11-04 17:53:12
2,test1,2015-10-28 09:16:45OM-VA,19,0.540,16.983648,None,96.938400,1.862607,None,None,None,None,None,None,2015-11-04 17:53:12
3,test1,2015-10-28 09:16:45OM-VA,20,0.517,16.937761,None,96.846497,1.824378,None,None,None,None,None,None,2015-11-04 17:53:12
4,test1,2015-10-28 09:26:22OM-VA,1,0.571,16.995275,None,97.066200,1.940983,None,None,None,None,None,None,2015-11-04 17:53:12

In [91]:
table_list[46].shape

(1778490, 15)

In [92]:
table_list[47].head()

,MACH_ID,TEST_ID,TEST_TIME,SAMPLE_NAME,TEAM_NAME,USER_NAME,TEST_COUNT,LINE_NAME,BATCH_ID,WORK_DOC_ID,GET_SAMPLE_WAY,MACH_DEVICE_ID
0,test5,2015-09-30 08:23:12,2015-09-30 08:23:12,利群（新版）,未分组,乙班,20,15,None,None,2,None
1,test5,2015-09-30 08:36:33,2015-09-30 08:36:33,利群（新版）,未分组,乙班,20,13,None,None,2,None
2,test5,2015-10-05 18:11:39,2015-10-05 18:11:39,利群（新版）,未分组,丙班,20,13,None,None,2,None
3,test5,2015-10-05 18:28:22,2015-10-05 18:28:22,真龙（珍品）,未分组,丙班,20,16,None,None,2,None
4,test5,2015-10-05 19:24:29,2015-10-05 19:24:29,利群（新版）,未分组,丙班,20,13,None,None,2,None

In [93]:
table_list[47].shape

(82161, 12)