In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
ser = Series(np.arange(3.))

data = DataFrame(np.arange(16).reshape(4,4),index=list('abcd'),columns=list('wxyz'))

data

    w   x   y   z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [6]:
data['w']  #选择表格中的'w'列，使用类字典属性,返回的是Series类型

a     0
b     4
c     8
d    12
Name: w, dtype: int64

In [7]:
data.w  #选择表格中的'w'列，使用点属性,返回的是Series类型

a     0
b     4
c     8
d    12
Name: w, dtype: int64

In [8]:
data[['w']]  #选择表格中的'w'列，返回的是DataFrame类型

    w
a   0
b   4
c   8
d  12

In [9]:
data[['w','z']]  #选择表格中的'w'、'z'列

    w   z
a   0   3
b   4   7
c   8  11
d  12  15

In [10]:
data[0:2]  #返回第1行到第2行的所有行，前闭后开，包括前不包括后

   w  x  y  z
a  0  1  2  3
b  4  5  6  7

In [11]:
data[1:2]  #返回第2行，从0计，返回的是单行，通过有前后值的索引形式，如果采用data[1]则报错

   w  x  y  z
b  4  5  6  7

In [12]:
data.ix[1:2]  #返回第2行的第三种方法，返回的是DataFrame，跟data[1:2]同

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   w  x  y  z
b  4  5  6  7

In [15]:
data.iloc[1:2]  # for positional indexing

   w  x  y  z
b  4  5  6  7

In [18]:
data.loc['a']  # for label based indexing

w    0
x    1
y    2
z    3
Name: a, dtype: int64

In [19]:
data['a':'b']  #利用index值进行切片，返回的是**前闭后闭**的DataFrame，即末端是包含的

   w  x  y  z
a  0  1  2  3
b  4  5  6  7

In [20]:
data.head()  #返回data的前几行数据，默认为前五行，需要前十行则data.head(10)

    w   x   y   z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [21]:
data.tail()  #返回data的后几行数据，默认为后五行，需要后十行则data.tail(10)

    w   x   y   z
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [22]:
data.iloc[-1]   #选取DataFrame最后一行，返回的是Series

w    12
x    13
y    14
z    15
Name: d, dtype: int64

In [23]:
data.iloc[-1:]   #选取DataFrame最后一行，返回的是DataFrame

    w   x   y   z
d  12  13  14  15

In [24]:
data.loc['a',['w','x']]   #返回‘a’行'w'、'x'列，这种用于选取行索引列索引已知

w    0
x    1
Name: a, dtype: int64

In [25]:
data.iat[1,1]   #选取第二行第二列，用于已知行、列位置的选取

5

In [26]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [27]:
data = DataFrame(np.arange(15).reshape(3,5),index=['one','two','three'],columns=['a','b','c','d','e'])

In [28]:
data

        a   b   c   d   e
one     0   1   2   3   4
two     5   6   7   8   9
three  10  11  12  13  14

In [1]:
from pandas.io.parsers import read_csv

In [2]:
df = read_csv('../data/tencent_hr.csv')  #从CSV中读取

In [3]:
df

,work_place,work_type,work_time,work_count,work_name
0,北京,技术类,2017-12-20,1,MIG16-位置大数据机器学习/深度学习算法研究员（北京）
1,北京,技术类,2017-12-20,1,WXG08-122 微信数据挖掘算法高级工程师（北京）
2,北京,技术类,2017-12-20,1,OMG097-测试开发工程师（北京）
3,北京,技术类,2017-12-20,2,OMG236-腾讯视频推荐算法高级工程师（北京）
4,北京,技术类,2017-12-20,1,23671-高级数据分析开发工程师(北京）
5,北京,技术类,2017-12-20,1,22090-天天快报-文本分析与挖掘高级工程师（北京）
6,北京,技术类,2017-12-20,1,WXG08-121 微信机器学习算法工程师（北京）
7,北京,技术类,2017-12-20,3,23674-腾讯新闻高级系统测试工程师
8,北京,技术类,2017-12-20,1,SA-腾讯社交广告高级系统测试工程师（北京）
9,北京,技术类,2017-12-19,2,22989-腾讯云高级后台开发工程师（北京）
10,北京,技术类,2017-12-19,2,22989-云计算研发工程师（北京）
11,北京,技术类,2017-12-19,3,22989-腾讯云高级后台开发(互联网业务)（北京）
12,北京,技术类,2017-12-19,1,OMG097-数据挖掘工程师(北京）
13,北京,技术类,2017-12-18,2,23674-搜索架构高级工程师
14,北京,产品/项目类,2017-12-18,1,22090-天天快报-数据产品组组长（北京）
15,北京,技术类,2017-12-19,3,TEG02-控制器研发工程师（北京）
16,北京,技术类,2017-12-19,1,22989-高级图像处理算法工程师（北京）
17,北京,技术类,2017-12-19,1,WXG08-121 微信模式识别自然语言处理算法工程师（北京）
18,北京,技术类,2017-12-18,2,23674-新闻搜索算法高级工程师
19,北京,技术类,2017-12-18,1,OMG097-后台开发高级工程师(北京）
20,北京,技术类,2017-12-18,1,MIG03-数据评测工程师（北京）
21,北京,技术类,2017-12-16,2,OMG097-数据挖掘工程师(北京）
22,北京,技术类,2017-12-15,3,MIG07-系统安全研究员（北京）
23,北京,技术类,2017-12-15,1,SA-腾讯社交广告联盟策略开发工程师（北京）
24,北京,技术类,2017-12-14,1,23048-内容推荐算法高级工程师（北京）
25,北京,技术类,2017-12-18,1,MIG16-地图专题数据后台开发工程师-功能方向（北京）
26,北京,技术类,2017-12-15,3,MIG07-系统安全研究员（北京）
27,北京,技术类,2017-12-15,2,MIG16-地图数据高级后台工程师（北京）
28,北京,技术类,2017-12-14,1,TEG05-高级安全数据研究员(北京）
29,北京,技术类,2017-12-14,2,SA-腾讯社交广告算法工程师（质量研发中心 北京）
...,...,...,...,...,...
52,北京,技术类,2017-11-27,1,MIG16-地图导航后台开发工程师(北京)
53,北京,技术类,2017-11-26,1,23048-翻译君后台开发高级工程师（北京）
54,北京,技术类,2017-11-21,2,TEG03-高级算法研发工程师（深圳）
55,北京,技术类,2017-12-01,1,22989-云存储资深研发工程师（北京）
56,北京,技术类,2017-12-01,1,MIG15-自然语言处理高级算法研究员
57,北京,技术类,2017-11-26,1,SA-腾讯社交广告定向系统开发工程师（北京）
58,北京,技术类,2017-11-22,2,OMG236-腾讯视频自然语言处理高级工程师（北京）
59,北京,技术类,2017-11-21,1,17757-高级数据挖掘工程师（北京）
60,北京,技术类,2017-11-21,3,MIG16-地图导航惯导开发工程师（北京）
61,北京,技术类,2017-11-13,1,TEG17-AI LAB语音识别研发工程师(深圳）
62,北京,技术类,2017-11-08,1,MIG16-地图众包业务后台开发高级工程师（北京）
63,北京,技术类,2017-11-06,2,MIG16-自动驾驶数据平台大数据高级系统架构师(北京)
64,北京,技术类,2017-11-03,1,MIG16-地图POI数据挖掘高级研发工程师（北京）
65,北京,技术类,2017-11-16,1,SNG02-腾讯云汽车行业方案架构师（北京/上海/深圳）
66,北京,技术类,2017-11-08,1,23674-腾讯新闻后台测试组长
67,北京,技术类,2017-11-06,0,MIG16-自动驾驶数据平台高级后台开发工程师(北京)
68,北京,技术类,2017-11-03,1,MIG16-地图POI数据自然语言处理工程师（北京）
69,北京,技术类,2017-11-02,1,MIG16-地图后台高级研发工程师-融合方向（北京）
70,北京,技术类,2017-11-01,3,MIG16-AI算法研究（北京）
71,北京,技术类,2017-11-01,1,MIG16-基础架构工程师（北京）
72,北京,技术类,2017-10-30,2,MIG16-腾讯地图导航/步行骑行/公交后台开发工程师(北京)
73,北京,技术类,2017-10-26,1,MIG16-自动驾驶融合感知(北京)
74,北京,技术类,2017-10-26,1,MIG16-自动驾驶融合定位(北京)
75,北京,技术类,2017-11-01,2,MIG16-运营后台开发工程师（北京）
76,北京,技术类,2017-11-01,1,MIG16-地图大数据挖掘工程师（北京）
77,北京,技术类,2017-10-30,1,22090-天天快报-图像算法工程师（北京）
78,北京,技术类,2017-10-26,1,MIG16-自动驾驶深度学习(北京)
79,北京,技术类,2017-10-25,1,MIG16-计算机视觉高级算法工程师（北京）
80,北京,技术类,2017-09-27,1,23048-翻译君语料数据工程师（北京）
81,北京,技术类,2017-09-27,2,SA-腾讯社交广告测试开发工程师（北京）

In [4]:
df.shape  #数据结构的形状

(82, 5)

In [6]:
len(df)

82

In [7]:
df.columns

Index(['work_place', 'work_type', 'work_time', 'work_count', 'work_name'], dtype='object')

In [8]:
df.dtypes

work_place    object
work_type     object
work_time     object
work_count     int64
work_name     object
dtype: object

In [9]:
df.index

RangeIndex(start=0, stop=82, step=1)

In [10]:
df.values

array([['北京', '技术类', '2017-12-20', 1, 'MIG16-位置大数据机器学习/深度学习算法研究员（北京）'],
       ['北京', '技术类', '2017-12-20', 1, 'WXG08-122 微信数据挖掘算法高级工程师（北京）'],
       ['北京', '技术类', '2017-12-20', 1, 'OMG097-测试开发工程师（北京）'],
       ['北京', '技术类', '2017-12-20', 2, 'OMG236-腾讯视频推荐算法高级工程师（北京）'],
       ['北京', '技术类', '2017-12-20', 1, '23671-高级数据分析开发工程师(北京）'],
       ['北京', '技术类', '2017-12-20', 1, '22090-天天快报-文本分析与挖掘高级工程师（北京）'],
       ['北京', '技术类', '2017-12-20', 1, 'WXG08-121 微信机器学习算法工程师（北京）'],
       ['北京', '技术类', '2017-12-20', 3, '23674-腾讯新闻高级系统测试工程师'],
       ['北京', '技术类', '2017-12-20', 1, 'SA-腾讯社交广告高级系统测试工程师（北京）'],
       ['北京', '技术类', '2017-12-19', 2, '22989-腾讯云高级后台开发工程师（北京）'],
       ['北京', '技术类', '2017-12-19', 2, '22989-云计算研发工程师（北京）'],
       ['北京', '技术类', '2017-12-19', 3, '22989-腾讯云高级后台开发(互联网业务)（北京）'],
       ['北京', '技术类', '2017-12-19', 1, 'OMG097-数据挖掘工程师(北京）'],
       ['北京', '技术类', '2017-12-18', 2, '23674-搜索架构高级工程师'],
       ['北京', '产品/项目类', '2017-12-18', 1, '22090-天天快报-数据产品组组长（北京）'],
       ['北京', '技术类', '2017-12-19', 3, 'TEG02-控制器研发工程师（北京）'],
       ['北京', '技术类', '2017-12-19', 1, '22989-高级图像处理算法工程师（北京）'],
       ['北京', '技术类', '2017-12-19', 1, 'WXG08-121 微信模式识别自然语言处理算法工程师（北京）'],
       ['北京', '技术类', '2017-12-18', 2, '23674-新闻搜索算法高级工程师'],
       ['北京', '技术类', '2017-12-18', 1, 'OMG097-后台开发高级工程师(北京）'],
       ['北京', '技术类', '2017-12-18', 1, 'MIG03-数据评测工程师（北京）'],
       ['北京', '技术类', '2017-12-16', 2, 'OMG097-数据挖掘工程师(北京）'],
       ['北京', '技术类', '2017-12-15', 3, 'MIG07-系统安全研究员（北京）'],
       ['北京', '技术类', '2017-12-15', 1, 'SA-腾讯社交广告联盟策略开发工程师（北京）'],
       ['北京', '技术类', '2017-12-14', 1, '23048-内容推荐算法高级工程师（北京）'],
       ['北京', '技术类', '2017-12-18', 1, 'MIG16-地图专题数据后台开发工程师-功能方向（北京）'],
       ['北京', '技术类', '2017-12-15', 3, 'MIG07-系统安全研究员（北京）'],
       ['北京', '技术类', '2017-12-15', 2, 'MIG16-地图数据高级后台工程师（北京）'],
       ['北京', '技术类', '2017-12-14', 1, 'TEG05-高级安全数据研究员(北京）'],
       ['北京', '技术类', '2017-12-14', 2, 'SA-腾讯社交广告算法工程师（质量研发中心 北京）'],
       ['北京', '技术类', '2017-12-13', 2, '22989-腾讯云大客户售后高级顾问（北京）'],
       ['北京', '技术类', '2017-12-13', 2, '22989-腾讯云行业架构师（北京）'],
       ['北京', '技术类', '2017-12-12', 1, 'WXG02-116 测试开发工程师'],
       ['北京', '技术类', '2017-12-11', 1, '15503-系统漏洞研究工程师（北京）'],
       ['北京', '产品/项目类', '2017-12-07', 1, '22989-腾讯云AI行业方案专家（北京）'],
       ['北京', '技术类', '2017-12-13', 2, '23674-腾讯新闻大数据分析工程师'],
       ['北京', '技术类', '2017-12-13', 1, 'MIG16-腾讯地图自然语言处理高级工程师(北京)'],
       ['北京', '技术类', '2017-12-12', 1, 'OMG236-腾讯视频搜索数据模型高级工程师(北京)'],
       ['北京', '技术类', '2017-12-11', 1, '23671-数据开发工程师（北京）'],
       ['北京', '技术类', '2017-12-06', 1, '22989-腾讯云PAAS产品中心高级后端开发（北京）'],
       ['北京', '技术类', '2017-12-06', 1, 'WXG08-121 模式识别机器学习（高级）算法工程师（北京）'],
       ['北京', '技术类', '2017-12-05', 1, 'MIG07-企业安全运营工程师（北京）'],
       ['北京', '技术类', '2017-12-05', 0, 'OMG097-业务运维（北京）'],
       ['北京', '技术类', '2017-12-04', 2, 'TEG11-机器翻译语料挖掘工程师（北京）'],
       ['北京', '技术类', '2017-12-04', 1, 'TEG13-图像OCR算法工程师(北京)'],
       ['北京', '技术类', '2017-12-06', 1, 'WXG08-121 模式识别自然语言处理（高级）算法工程师（北京）'],
       ['北京', '技术类', '2017-12-05', 4, 'SNG02-自然语言处理高级研发工程师（北京）'],
       ['北京', '技术类', '2017-12-04', 1, 'WXG08-113 微信搜索后台开发高级工程师（北京）'],
       ['北京', '技术类', '2017-12-04', 2, '22086-数据挖掘工程师(北京）'],
       ['北京', '技术类', '2017-12-02', 1, 'MIG03-腾讯地图高级算法评测工程师（北京）'],
       ['北京', '技术类', '2017-12-01', 1, '22989-C++后台开发工程师（北京）'],
       ['北京', '技术类', '2017-12-01', 1, '22989-分布式存储高级研发工程师（北京）'],
       ['北京', '技术类', '2017-11-27', 1, 'MIG16-地图导航后台开发工程师(北京)'],
       ['北京', '技术类', '2017-11-26', 1, '23048-翻译君后台开发高级工程师（北京）'],
       ['北京', '技术类', '2017-11-21', 2, 'TEG03-高级算法研发工程师（深圳）'],
       ['北京', '技术类', '2017-12-01', 1, '22989-云存储资深研发工程师（北京）'],
       ['北京', '技术类', '2017-12-01', 1, 'MIG15-自然语言处理高级算法研究员'],
       ['北京', '技术类', '2017-11-26', 1, 'SA-腾讯社交广告定向系统开发工程师（北京）'],
       ['北京', '技术类', '2017-11-22', 2, 'OMG236-腾讯视频自然语言处理高级工程师（北京）'],
       ['北京', '技术类', '2017-11-21', 1, '17757-高级数据挖掘工程师（北京）'],
       ['北京', '技术类', '2017-11-21', 3, 'MIG16-地图导航惯导开发工程师（北京）'],
       ['北京', '技术类', '2017-11-13', 1, 'TEG17-AI LAB语音识别研发工程师(深圳）'],
       ['北京', '技术类', '2017-11-08', 1, 'MIG16-地图众包业务后台开发高级工程师（北京）'],
       ['北京', '技术类', '2017-11-06', 2, 'MIG16-自动驾驶数据平台大数据高级系统架构师(北京)'],
       ['北京', '技术类', '2017-11-03', 1, 'MIG16-地图POI数据挖掘高级研发工程师（北京）'],
       ['北京', '技术类', '2017-11-16', 1, 'SNG02-腾讯云汽车行业方案架构师（北京/上海/深圳）'],
       ['北京', '技术类', '2017-11-08', 1, '23674-腾讯新闻后台测试组长'],
       ['北京', '技术类', '2017-11-06', 0, 'MIG16-自动驾驶数据平台高级后台开发工程师(北京)'],
       ['北京', '技术类', '2017-11-03', 1, 'MIG16-地图POI数据自然语言处理工程师（北京）'],
       ['北京', '技术类', '2017-11-02', 1, 'MIG16-地图后台高级研发工程师-融合方向（北京）'],
       ['北京', '技术类', '2017-11-01', 3, 'MIG16-AI算法研究（北京）'],
       ['北京', '技术类', '2017-11-01', 1, 'MIG16-基础架构工程师（北京）'],
       ['北京', '技术类', '2017-10-30', 2, 'MIG16-腾讯地图导航/步行骑行/公交后台开发工程师(北京)'],
       ['北京', '技术类', '2017-10-26', 1, 'MIG16-自动驾驶融合感知(北京)'],
       ['北京', '技术类', '2017-10-26', 1, 'MIG16-自动驾驶融合定位(北京)'],
       ['北京', '技术类', '2017-11-01', 2, 'MIG16-运营后台开发工程师（北京）'],
       ['北京', '技术类', '2017-11-01', 1, 'MIG16-地图大数据挖掘工程师（北京）'],
       ['北京', '技术类', '2017-10-30', 1, '22090-天天快报-图像算法工程师（北京）'],
       ['北京', '技术类', '2017-10-26', 1, 'MIG16-自动驾驶深度学习(北京)'],
       ['北京', '技术类', '2017-10-25', 1, 'MIG16-计算机视觉高级算法工程师（北京）'],
       ['北京', '技术类', '2017-09-27', 1, '23048-翻译君语料数据工程师（北京）'],
       ['北京', '技术类', '2017-09-27', 2, 'SA-腾讯社交广告测试开发工程师（北京）']], dtype=object)

In [15]:
col = df[df.columns[4]]  #选中DataFrame一列，则为Series型数据
col

0       MIG16-位置大数据机器学习/深度学习算法研究员（北京）
1         WXG08-122 微信数据挖掘算法高级工程师（北京）
2                  OMG097-测试开发工程师（北京）
3            OMG236-腾讯视频推荐算法高级工程师（北京）
4               23671-高级数据分析开发工程师(北京）
5         22090-天天快报-文本分析与挖掘高级工程师（北京）
6           WXG08-121 微信机器学习算法工程师（北京）
7                 23674-腾讯新闻高级系统测试工程师
8              SA-腾讯社交广告高级系统测试工程师（北京）
9              22989-腾讯云高级后台开发工程师（北京）
10                 22989-云计算研发工程师（北京）
11         22989-腾讯云高级后台开发(互联网业务)（北京）
12                 OMG097-数据挖掘工程师(北京）
13                    23674-搜索架构高级工程师
14             22090-天天快报-数据产品组组长（北京）
15                 TEG02-控制器研发工程师（北京）
16              22989-高级图像处理算法工程师（北京）
17    WXG08-121 微信模式识别自然语言处理算法工程师（北京）
18                  23674-新闻搜索算法高级工程师
19               OMG097-后台开发高级工程师(北京）
20                  MIG03-数据评测工程师（北京）
21                 OMG097-数据挖掘工程师(北京）
22                  MIG07-系统安全研究员（北京）
23             SA-腾讯社交广告联盟策略开发工程师（北京）
24              23048-内容推荐算法高级工程师（北京）
25       MIG16-地图专题数据后台开发工程师-功能方向（北京）
26                  MIG07-系统安全研究员（北京）
27              MIG16-地图数据高级后台工程师（北京）
28                TEG05-高级安全数据研究员(北京）
29          SA-腾讯社交广告算法工程师（质量研发中心 北京）
                   ...
52              MIG16-地图导航后台开发工程师(北京)
53             23048-翻译君后台开发高级工程师（北京）
54                TEG03-高级算法研发工程师（深圳）
55               22989-云存储资深研发工程师（北京）
56                MIG15-自然语言处理高级算法研究员
57             SA-腾讯社交广告定向系统开发工程师（北京）
58         OMG236-腾讯视频自然语言处理高级工程师（北京）
59                17757-高级数据挖掘工程师（北京）
60              MIG16-地图导航惯导开发工程师（北京）
61          TEG17-AI LAB语音识别研发工程师(深圳）
62          MIG16-地图众包业务后台开发高级工程师（北京）
63       MIG16-自动驾驶数据平台大数据高级系统架构师(北京)
64         MIG16-地图POI数据挖掘高级研发工程师（北京）
65       SNG02-腾讯云汽车行业方案架构师（北京/上海/深圳）
66                   23674-腾讯新闻后台测试组长
67        MIG16-自动驾驶数据平台高级后台开发工程师(北京)
68         MIG16-地图POI数据自然语言处理工程师（北京）
69         MIG16-地图后台高级研发工程师-融合方向（北京）
70                   MIG16-AI算法研究（北京）
71                  MIG16-基础架构工程师（北京）
72    MIG16-腾讯地图导航/步行骑行/公交后台开发工程师(北京)
73                 MIG16-自动驾驶融合感知(北京)
74                 MIG16-自动驾驶融合定位(北京)
75                MIG16-运营后台开发工程师（北京）
76               MIG16-地图大数据挖掘工程师（北京）
77             22090-天天快报-图像算法工程师（北京）
78                 MIG16-自动驾驶深度学习(北京)
79             MIG16-计算机视觉高级算法工程师（北京）
80               23048-翻译君语料数据工程师（北京）
81               SA-腾讯社交广告测试开发工程师（北京）
Name: work_name, Length: 82, dtype: object

In [16]:
col.shape  #输出每维的长度，numpy的函数同样适用于pandas

(82,)

In [17]:
col.index

RangeIndex(start=0, stop=82, step=1)

In [18]:
col.values

array(['MIG16-位置大数据机器学习/深度学习算法研究员（北京）', 'WXG08-122 微信数据挖掘算法高级工程师（北京）',
       'OMG097-测试开发工程师（北京）', 'OMG236-腾讯视频推荐算法高级工程师（北京）',
       '23671-高级数据分析开发工程师(北京）', '22090-天天快报-文本分析与挖掘高级工程师（北京）',
       'WXG08-121 微信机器学习算法工程师（北京）', '23674-腾讯新闻高级系统测试工程师',
       'SA-腾讯社交广告高级系统测试工程师（北京）', '22989-腾讯云高级后台开发工程师（北京）',
       '22989-云计算研发工程师（北京）', '22989-腾讯云高级后台开发(互联网业务)（北京）',
       'OMG097-数据挖掘工程师(北京）', '23674-搜索架构高级工程师', '22090-天天快报-数据产品组组长（北京）',
       'TEG02-控制器研发工程师（北京）', '22989-高级图像处理算法工程师（北京）',
       'WXG08-121 微信模式识别自然语言处理算法工程师（北京）', '23674-新闻搜索算法高级工程师',
       'OMG097-后台开发高级工程师(北京）', 'MIG03-数据评测工程师（北京）', 'OMG097-数据挖掘工程师(北京）',
       'MIG07-系统安全研究员（北京）', 'SA-腾讯社交广告联盟策略开发工程师（北京）',
       '23048-内容推荐算法高级工程师（北京）', 'MIG16-地图专题数据后台开发工程师-功能方向（北京）',
       'MIG07-系统安全研究员（北京）', 'MIG16-地图数据高级后台工程师（北京）', 'TEG05-高级安全数据研究员(北京）',
       'SA-腾讯社交广告算法工程师（质量研发中心 北京）', '22989-腾讯云大客户售后高级顾问（北京）',
       '22989-腾讯云行业架构师（北京）', 'WXG02-116 测试开发工程师', '15503-系统漏洞研究工程师（北京）',
       '22989-腾讯云AI行业方案专家（北京）', '23674-腾讯新闻大数据分析工程师',
       'MIG16-腾讯地图自然语言处理高级工程师(北京)', 'OMG236-腾讯视频搜索数据模型高级工程师(北京)',
       '23671-数据开发工程师（北京）', '22989-腾讯云PAAS产品中心高级后端开发（北京）',
       'WXG08-121 模式识别机器学习（高级）算法工程师（北京）', 'MIG07-企业安全运营工程师（北京）',
       'OMG097-业务运维（北京）', 'TEG11-机器翻译语料挖掘工程师（北京）', 'TEG13-图像OCR算法工程师(北京)',
       'WXG08-121 模式识别自然语言处理（高级）算法工程师（北京）', 'SNG02-自然语言处理高级研发工程师（北京）',
       'WXG08-113 微信搜索后台开发高级工程师（北京）', '22086-数据挖掘工程师(北京）',
       'MIG03-腾讯地图高级算法评测工程师（北京）', '22989-C++后台开发工程师（北京）',
       '22989-分布式存储高级研发工程师（北京）', 'MIG16-地图导航后台开发工程师(北京)',
       '23048-翻译君后台开发高级工程师（北京）', 'TEG03-高级算法研发工程师（深圳）',
       '22989-云存储资深研发工程师（北京）', 'MIG15-自然语言处理高级算法研究员',
       'SA-腾讯社交广告定向系统开发工程师（北京）', 'OMG236-腾讯视频自然语言处理高级工程师（北京）',
       '17757-高级数据挖掘工程师（北京）', 'MIG16-地图导航惯导开发工程师（北京）',
       'TEG17-AI LAB语音识别研发工程师(深圳）', 'MIG16-地图众包业务后台开发高级工程师（北京）',
       'MIG16-自动驾驶数据平台大数据高级系统架构师(北京)', 'MIG16-地图POI数据挖掘高级研发工程师（北京）',
       'SNG02-腾讯云汽车行业方案架构师（北京/上海/深圳）', '23674-腾讯新闻后台测试组长',
       'MIG16-自动驾驶数据平台高级后台开发工程师(北京)', 'MIG16-地图POI数据自然语言处理工程师（北京）',
       'MIG16-地图后台高级研发工程师-融合方向（北京）', 'MIG16-AI算法研究（北京）',
       'MIG16-基础架构工程师（北京）', 'MIG16-腾讯地图导航/步行骑行/公交后台开发工程师(北京)',
       'MIG16-自动驾驶融合感知(北京)', 'MIG16-自动驾驶融合定位(北京)', 'MIG16-运营后台开发工程师（北京）',
       'MIG16-地图大数据挖掘工程师（北京）', '22090-天天快报-图像算法工程师（北京）',
       'MIG16-自动驾驶深度学习(北京)', 'MIG16-计算机视觉高级算法工程师（北京）',
       '23048-翻译君语料数据工程师（北京）', 'SA-腾讯社交广告测试开发工程师（北京）'], dtype=object)

In [19]:
col.name

'work_name'

In [20]:
col[1:6]

1    WXG08-122 微信数据挖掘算法高级工程师（北京）
2             OMG097-测试开发工程师（北京）
3       OMG236-腾讯视频推荐算法高级工程师（北京）
4          23671-高级数据分析开发工程师(北京）
5    22090-天天快报-文本分析与挖掘高级工程师（北京）
Name: work_name, dtype: object

In [5]:
import numpy as np
import pandas as pd


data = {'Weather': ['cold', 'hot', 'cold', 'hot',
   'cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate',
   'icecream', 'icecream', 'soup'],
   'Price' : 10 * np.random.rand(7), 'Number' : np.random.randint(1, 9 + 1, size=(7,))}
df = pd.DataFrame(data)

In [11]:
weather_group = df.groupby('Weather')  #数据聚合，按weather分组
i = 0
for name, group in weather_group:  #name为weather的名字，group为该类中的项
    i += 1
    print(i, name)
    print(group)

1 cold
       Food  Number     Price Weather
0      soup       7  7.376013    cold
2  icecream       2  0.828093    cold
4  icecream       3  6.852144    cold
6      soup       8  5.903245    cold
2 hot
        Food  Number     Price Weather
1       soup       2  7.222520     hot
3  chocolate       5  8.471257     hot
5   icecream       5  9.211986     hot

In [12]:
weather_group.first()

         Food  Number     Price
Weather
cold     soup       7  7.376013
hot      soup       2  7.222520

In [13]:
weather_group.last()

             Food  Number     Price
Weather
cold         soup       8  5.903245
hot      icecream       5  9.211986

In [14]:
weather_group.mean()

         Number     Price
Weather
cold          5  5.239874
hot           4  8.301921

In [15]:
wf_group = df.groupby(['Weather', 'Food'])
for name, group in wf_group:
    print(name)
    print(group)

('cold', 'icecream')
       Food  Number     Price Weather
2  icecream       2  0.828093    cold
4  icecream       3  6.852144    cold
('cold', 'soup')
   Food  Number     Price Weather
0  soup       7  7.376013    cold
6  soup       8  5.903245    cold
('hot', 'chocolate')
        Food  Number     Price Weather
3  chocolate       5  8.471257     hot
('hot', 'icecream')
       Food  Number     Price Weather
5  icecream       5  9.211986     hot
('hot', 'soup')
   Food  Number    Price Weather
1  soup       2  7.22252     hot

In [16]:
print(wf_group.agg([np.mean, np.median]))  # 通过agg()可以对数据组施加一系列的NumPy函数

                  Number            Price
                    mean median      mean    median
Weather Food
cold    icecream     2.5    2.5  3.840119  3.840119
        soup         7.5    7.5  6.639629  6.639629
hot     chocolate    5.0    5.0  8.471257  8.471257
        icecream     5.0    5.0  9.211986  9.211986
        soup         2.0    2.0  7.222520  7.222520

In [17]:
print(pd.concat([df[:3],df[3:]]))  #串联
print(df[:3].append(df[5:]))  #串联

        Food  Number     Price Weather
0       soup       7  7.376013    cold
1       soup       2  7.222520     hot
2   icecream       2  0.828093    cold
3  chocolate       5  8.471257     hot
4   icecream       3  6.852144    cold
5   icecream       5  9.211986     hot
6       soup       8  5.903245    cold
       Food  Number     Price Weather
0      soup       7  7.376013    cold
1      soup       2  7.222520     hot
2  icecream       2  0.828093    cold
5  icecream       5  9.211986     hot
6      soup       8  5.903245    cold

In [21]:
import numpy as np
import pandas as pd


print(pd.date_range('1/1/2018',periods=30,freq='D'))  #生成时间列表，周期为42天，D
print(pd.to_datetime(['20181231','1/1/2017']))  #将字符串转化为日期数据

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-12-31', '2017-01-01'], dtype='datetime64[ns]', freq=None)

In [23]:
import numpy as np
import pandas as pd


data = {'Weather' : ['cold', 'hot', 'cold', 'hot',
   'cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate',
   'icecream', 'icecream', 'soup'],
   'Price' : 10 * np.random.rand(7), 'Number' : np.random.randint(1, 9 + 1, size=(7,))}
df = pd.DataFrame(data)   #根据字典创建DataFrame
print(pd.pivot_table(df,columns=['Food'],aggfunc=np.max))   #np.max不能加括号
print(pd.pivot_table(df,columns=['Food'],aggfunc=np.sum))   #np.sum不能加括号

Food    chocolate icecream     soup
Number          8        9        7
Price     5.66488  9.17682  7.81108
Weather       hot      hot      hot
Food    chocolate  icecream       soup
Number   8.000000  13.00000  15.000000
Price    5.664883  18.68247  13.291698